.character-display-container {
  width: 60vw;
  margin: 15vh auto;
  display: flex;
}

.character-profile {
  width: 700px;
  margin-top: 48px;
  height: 400px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  padding-left: 48px;
  padding-top: 36px;
}

.grid {
  display: grid;
  width: 50%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container button {
  width: 150px;
  height: 40px;
  border-radius: 12px;
}
