body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e4e4e4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
}
.main-container h1 {
  text-align: center;
}

.characters-container {
  margin: 0 auto;
  display: grid;
  text-align: center;
}

.character {
  position: relative;
  width: 340px;
  margin: 0 auto;
  border: 1px solid lightgray;
  margin-bottom: 24px;
  border-radius: 12px;
  cursor: pointer;
  background: #fff;
}

.character-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  background: #464646;
}

.no-img {
  width: 100%;
  position: absolute;
  top: 40%;
  text-align: center;
  color: #fff;
}

.description-card {
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #0c0c0c;
  color: white;
  text-align: center;
  padding-top: 12px;
  bottom: 0;
}

@media (min-width: 600px) {
  .characters-container {
    width: 85vw;
    min-height: 150px;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px;
    padding-top: 36px;
  }
}

.pagination-container {
  width: 100px;
  margin: 0 auto;
}

.paper {
  width: 60vw;
  margin: 24px auto;
  display: flex;
  justify-content: center;
}
.search-form form {
  width: 300px;
  margin: 0 auto;
}

.search-form input {
  width: 300px;
  border-radius: 15px;
}
